@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');

body { 
    margin: 0; 
    padding: 0;
    background-color: #0891b2;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.5rem;
    height: 100vh;
}
.container { 
    display: grid; 
    grid-template-columns: 0.5fr 3fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 4px;
    height: 100vh;
}
.header { 
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    margin-top: 20px;
}

.name {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-bar { 
    width: 500px;
    height: 25px; 
    border-radius: 0.5rem;
    background: rgb(235, 227, 227);
}
.sidebar {
    display: grid; 
    grid-template-rows: 0.3fr 2fr 1fr; 
    background-color: #ea580c; 
    grid-column: 1 / 2;
    grid-row: 1 / -1;   
}
.dash-title {
    display: flex;
    align-self: center;
    align-items: cneter;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}
.search { 
    display: flex;
    align-items: center;
}
.search img { 
    align-self: center;
    margin-right: 15px;
}
.dash-title span { 
    align-self: center;
    margin-left: 10px;
}
.info ul { 
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-size: 1.3rem;
    gap: 5px;
}
.help { 
    margin-top: auto;
}
.help ul { 
    display: grid; 
    grid-template-rows: repeat(3, 1fr);
    font-size: 1.3rem;
    gap: 5px;
}
.projects { 
    align-self: center;
    justify-self: center;
    display: grid;
    grid-column: 2 / 3;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    
}

.announcments {
    align-self: center;
    grid-column: 3 / 4;
    display: grid; 
    align-items: center;
    gap: 30px;
}

.important { 
    border: solid white;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.updates { 
    margin-top: 50px;
}
p { 
    margin: 0.7rem;
}
.people { 
    font-size: 1.2rem;
}
.tag { 
    font-size: 1.5rem;
}
.card { 
    border-radius: 10px;
    border: solid white;
    border-radius: 0.5rem;
    background: rgb(235, 227, 227);
    max-width: 500px;
}
li { 
    list-style-type: none;
}
.title { 
    font-size: 1.5rem; 
    font-weight: bold;
}
.dashboard { 
    width: 60px;
    height: 60px;
}
img { 
    width: 35px;
    height: 35px;
}
.news { 
    height: fit-content;
    border: solid white;
    border-radius: 0.5rem;

}
.important { 
    height: 250px;
}